# Database Setup
DATABASE_URL="postgresql://postgres:password@localhost:5432/kltn_db?schema=public"

# Redis Setup
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT Token
JWT_SECRET="YOUR_SUPER_SECRET_JWT_KEY_HERE"

# AI Integration
# Lấy API Key từ https://aistudio.google.com/
GEMINI_API_KEY="YOUR_GOOGLE_GEMINI_API_KEY_HERE"

# Cloudinary Setup (Dùng cho chức năng Upload File)
CLOUDINARY_CLOUD_NAME="your_cloud_name_here"
CLOUDINARY_API_KEY="your_api_key_here"
CLOUDINARY_API_SECRET="your_api_secret_here"