# Database Setup
DATABASE_URL="postgresql://postgres:password@localhost:5432/kltn_db?schema=public"

# Redis Setup
REDIS_HOST="localhost"
REDIS_PORT=6379

# JWT Token
JWT_SECRET="YOUR_SUPER_SECRET_JWT_KEY_HERE"

# AI Integration
# Lấy API Key từ https://aistudio.google.com/
GEMINI_API_KEY="YOUR_GOOGLE_GEMINI_API_KEY_HERE"

# Cloudflare R2 Storage Setup (Upload Ảnh, Audio, PDF)
R2_ACCOUNT_ID="your_cloudflare_account_id"
R2_ACCESS_KEY_ID="your_r2_access_key_id"
R2_SECRET_ACCESS_KEY="your_r2_secret_access_key"
R2_BUCKET_NAME="breadtrans-files"
R2_PUBLIC_URL="https://pub-your_id.r2.dev"